.magazine-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4; /* Light gray background */
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  margin: 20px auto; /* Center the container */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@media (min-width: 768px) {
  .magazine-container {
      flex-direction: row;
      padding: 50px;
      width: 60%;
      margin: 50px auto; /* Center the container */
  }
}

.magazine-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

.image-container {
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .image-container {
      margin-bottom: 0;
  }
}

.magazine-container:hover .image-container {
  transform: scale(1.1); /* Slight zoom-in effect on hover */
}

.magazine-cover {
  width: 100%; /* Adjust the size of the magazine cover */
  max-width: 300px;
  border: 10px solid white; /* White border */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  transition: transform 0.3s ease;
}

@media (min-width: 768px) {
  .magazine-cover {
      max-width: 80%;
  }
}

.magazine-container:hover .magazine-cover {
  transform: rotate(-5deg); /* Rotate the image slightly on hover */
}

.details-container {
  flex: 1;
  padding-left: 0;
  color: #8e8e8e; /* Light gray color for the text */
  text-align: center;
  transition: transform 0.3s ease, color 0.3s ease;
}

@media (min-width: 768px) {
  .details-container {
      padding-left: 20px;
      text-align: left;
  }
}

.magazine-container:hover .details-container {
  transform: translateX(0);
  color: #333; /* Darken the text color on hover */
}

@media (min-width: 768px) {
  .magazine-container:hover .details-container {
      transform: translateX(10px); /* Move text slightly to the right on hover */
  }
}

.details-container h2 {
  font-family: 'Georgia', serif;
  font-size: 20px;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .details-container h2 {
      font-size: 24px;
  }
}

.details-container p {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .details-container p {
      font-size: 14px;
      margin-bottom: 40px;
  }
}

.read-more-button {
  background-color: transparent;
  color: #8e8e8e;
  border: 1px solid #8e8e8e;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.read-more-button:hover {
  background-color: #8e8e8e;
  color: white;
  transform: translateY(-3px); /* Move the button up slightly on hover */
}

@media (min-width: 768px) {
  .read-more-button {
      font-size: 16px;
  }
}
